.sidebar {
    float: left;
    margin-right: 20px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.sidebar nav ul {
    list-style-type: none; 
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px; 
}

body{
    background-color: aqua;
}

.centrage{
    text-align: center;

}

footer {
    position: fixed; /* ou absolute */
    bottom: 0;
    width: 100%; /* pour occuper toute la largeur de la page */
    background-color:aqua ; /* couleur de fond du footer */
    padding: 10px 0; /* espacement intérieur du footer */
    text-align: center; /* centrer le texte à l'intérieur du footer */
}

