.sidebar {
    float: left;
    margin-right: 20px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.sidebar nav ul {
    list-style-type: none; 
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px; 
}

body{
    background-color: rgb(255, 255, 255);
}

.centrage{
    text-align: center;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    background-color:rgb(255, 255, 255) ; 
    padding: 10px 0; 
    text-align: center; 
}

.hidden {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

/* CSS pour afficher les liens avec une transition */
#menu-icon:checked + ul#menu-links {
    opacity: 1;
    transform: translateY(0);
}


.header{
    background-color: beige;
}

.footer{
    background-color: beige;
}