<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma première page web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="earthy-tones">

    <header class="header">
        <a href="url_de_destination.html">
            <img src="chemin_de_l_image.jpg" alt="Texte alternatif de l'image">
        </a>
        <h1 class="centrage">OBMFOOD</h1>
    </header>



    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="menu_page.html">
                    <img src="{{ url_for('static', filename='image/menu_img.jpeg') }}" alt="menu" width="40" height="auto">Nos Menus</a></li>
                <li><a href="burger_page.html">
                    <img src="{{ url_for('static', filename='image/burger_img.jpeg') }}" alt="burger" width="40" height="auto">Nos Burgers</a></li>
                <li><a href="boisson_page.html">
                    <img src="{{ url_for('static', filename='image/boisson_img.jpeg') }}" alt="boisson" width="40" height="auto">Nos Boissons</a></li>
                <li><a href="dessert_page.html">
                    <img src="{{ url_for('static', filename='image/dessert_img.jpeg') }}" alt="dessert" width="40" height="auto">Nos Desserts</a></li>
                <li><a href="#">
                    <img src="" alt="">Que puis-je prendre avec mes points?</a></li>
            </ul>
        </nav>
    </div>


    <main>
        <div class="box">
            <div class="image-container">
                <img src="{{ url_for('static', filename='image/1.jpeg') }}" alt="Image 1" class="carousel-image" width="90" height="auto">
                <img src="{{ url_for('static', filename='image/2.jpeg') }}" alt="Image 2" class="carousel-image" width="90" height="auto">
                <img src="{{ url_for('static', filename='image/3.jpeg') }}" alt="Image 3" class="carousel-image" width="90" height="auto">
            </div>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; 2024 OBM. ALL RIGHTS RESERVED.</p>
    </footer>


</body>
</html>
