<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma première page web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="header">
        <h1 class="centrage">Menu</h1>
        <nav>
            <label for="menu-icon">
                <img src="{{ url_for('static', filename='image/choisir_img.jpeg') }}"  width="40" height="auto" alt="chosir">
            </label>
            <input type="checkbox" id="menu-icon" class="hideit">
            <ul id="menu-links" class="hidden">
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>


    <main>

        <div class="menu-item">
            <div class="item-image">
                <img src="{{ url_for('static', filename='image/mcsmart.jpeg') }}" alt="Nom de l'image">
            </div>
            <div class="item-info centrage">
                <p>Menu Mcsmart</p>
                <div class="price">
                    <p>Prix : 15 €</p>
                </div>
                <button class="add-to-cart-btn">Ajouter au panier</button>
            </div>
        </div>


        <div class="menu-item">
            <div class="item-image">
                <img src="{{ url_for('static', filename='image/menu1.jpeg') }}" alt="Nom de l'image">
            </div>
            <div class="item-info centrage">
                <p>Menu Big Mac</p>
                <div class="price">
                    <p>Prix : 15 €</p>
                </div>
                <button class="add-to-cart-btn">Ajouter au panier</button>
            </div>
        </div>

        <div class="menu-item">
            <div class="item-image">
                <img src="{{ url_for('static', filename='image/menu2.jpeg') }}" alt="Nom de l'image">
            </div>
            <div class="item-info centrage">
                <p>Menu BigBigMac</p>
                <div class="price">
                    <p>Prix : 15 €</p>
                    <button class="add-to-cart-btn">Ajouter au panier</button>
                </div>
            </div>
        </div>

        <div class="menu-item">
            <div class="item-image">
                <img src="{{ url_for('static', filename='image/mcsmart.jpeg') }}" alt="Nom de l'image">
            </div>
            <div class="item-info centrage">
                <p>Menu Mcsmart</p>
                <div class="price">
                    <p>Prix : 15 €</p>
                </div>
            </div>
        </div>


        <div class="menu-item">
            <div class="item-image">
                <img src="{{ url_for('static', filename='image/menu1.jpeg') }}" alt="Nom de l'image">
            </div>
            <div class="item-info centrage">
                <p>Menu Big Mac</p>
                <div class="price">
                    <p>Prix : 15 €</p>
                </div>

                <button class="add-to-cart-btn">Ajouter au panier</button>

            </div>
        </div>

        <div class="menu-item">
            <div class="item-image">
                <img src="{{ url_for('static', filename='image/menu2.jpeg') }}" alt="Nom de l'image">
            </div>
            <div class="item-info centrage">
                <p>Menu BigBigMac</p>
                <div class="price">
                    <p>Prix : 15 €</p>
                </div>
            </div>
        </div>



    </main>

    <footer class="footer">
        <p>&copy; 2024 Mon Entreprise. Tous droits réservés.</p>
    </footer>

</body>
</html>
